@import url(./global.css);

/*----------------- Header -----------------*/
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header h3 {
    font-size: 24px;
    font-weight: bold;
    color: var(--light-text-color);
    margin: 30px 0px;
}

header nav ul {
    display: flex;
    gap: 21px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 34px 0px;
}

header nav ul a {
    color: var(--light-text-color);
}

.header-btn {
    display: flex;
    gap: 21px;
    align-items: center;
    color: var(--light-text-color);
    margin: 20px 0px;
}

.btn-login {
    background-color: transparent;
    color: var(--light-text-color);
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0.2px;
    padding: 15px 0px;
    cursor: pointer;
}

.btn-new-members {
    display: flex;
    background-color: var(--primary-color);
    padding: 15px 25px;
    border-radius: 5px;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

.btn-new-members p{
    font-weight: bold;
    line-height: 22px;
}

.btn-new-members img {
    height: 12px;
    width: 14px;
}

/*----------------- Main -----------------*/
main {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 509px;
    padding: 111px 0px;
    gap: 35px;
}

.main-container h1 {
    color: var(--light-text-color);
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.2px;
}

.main-container p {
    width: 376px;
    font-size: 20px;
    line-height: 30px;
}

.main-btn {
    display: flex;
    gap: 10px;
}

.main-btn1 {
    padding: 15px 36px;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border-radius: 37px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.main-btn2 {
    padding: 15px 36px;
    background-color: transparent;
    color: var(--light-text-color);
    border-radius: 37px;
    border: 1px solid var(--light-text-color);
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

/*----------------- Business -----------------*/

.business {
    padding: 70px 231px;
    display: flex;
    flex-direction: column;
    gap: 69px;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content h2 {
    width: 451px;
}

.content p {
    color: var(--second-text-color);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-info {
    display: flex;
    padding: 35px 20px;
    border: 1px solid #F2F2F2;
    gap: 20px;
    width: 329px;
}

.card-info img {
    width: 48px;
    height: 39.5px;
}

.card-info-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.card-info-content h3 {
    color: var(--light-text-color);
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.card-info-content p {
    text-align: left;
    width: 213px;
}

/*----------------- Clients -----------------*/
.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 80px 0px;
}

.clients-review {
    background-color: var(--light-background-color);
    gap: 30px;
    padding: 35px 40px;
    width: 744px;
    border-radius: 5px;
}

.clients-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.clients-review {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0px;
    align-items: center;
}

.clients-review-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.clients-review-infos-text p {
    font-weight: 400 !important;
    line-height: 20px !important;
}

.clients-review-infos h3 {
    color: var(--text-color);
    font-family: 24px;
    font-weight: bold;
    line-height: 32px;
}

.clients-review-infos p {
    color: var(--second-text-color);
    font-weight: 600;
    line-height: 24px;
}

/*----------------- Download -----------------*/
.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0px;
    gap: 50px;
}

.download-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.download-cards {
    display: flex;
    gap: 10px;
}

.download-cards-content {
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--muted-color);
    gap: 25px;
    padding: 18px 28px;
}

.download-cards-content-img {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-cards-content-text h3 {
    color: var(--light-text-color);
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

/*----------------- Pricing -----------------*/
.pricing {
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
    gap: 96px;
    align-items: center;
}

.pricing-content h2 {
    margin-bottom: 10px;
}

.pricing-container {
    display: flex;
    gap: 30px;
}

.pricing-container-card {
    display: flex;
    padding: 50px;
    background-color: var(--light-background-color);
    gap: 30px;
    border-radius: 10px;
}

.pricing-container-card-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 217px;
}

.pricing-container-card-content h3 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
}

.pricing-container-card-content p {
    color: var(--second-text-color);
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}
.pricing-container-card-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 163px;
}
.pricing-value{
    display: flex;
    gap: 10px;
}
.pricing-value h2{
    color: var(--primary-color);
}
.pricing-value-content h4{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.pricing-value-content p{
    color: var(--disabled-element-color);
    font-weight: 600;
    line-height: 24px;
}
.pricing-container-card-container button{
    padding: 15px 40px;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    border-radius: 5px;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0.2px;
    font-size: 14px;
}

/*----------------- Form -----------------*/


/*----------------- Footer -----------------*/
footer{
    display: flex;
    flex-direction: column;
    border-top: 3px solid #FFFFFF;
}
.footer-container{
    display: flex;
    padding: 80px 0px;
    gap: 30px;
    justify-content: center;
}
.footer-container-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 238px;
}
.footer-container-content p{
    text-align: left;
    width: 213px;
}
.footer-container-content-logo{
    display: flex;
    gap: 20px;
}
.footer-container-content-logo img{
    transition: 0.4s;
}
.footer-container-content-logo img:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.footer-container-navigation{
    display: flex;
    flex-direction: column;
    width: 240px;
    gap: 20px;
}
.footer-container-navigation nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-container-navigation nav ul li{
    transition: 0.4s;
}
.footer-container-navigation nav ul li:hover{
    transform: translateX(10px);
}
.footer-container-navigation nav ul li a{
    color: var(--light-text-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.footer-copy{
    padding: 25px 0px;
    background-color: var(--light-gray-1);
}
.footer-copy p {
    color: var(--second-text-color);
    font-weight: 600;
    line-height: 24px;
}